.App {
  font-family: Arial, Helvetica, sans-serif;
}

p,ul,li{
  padding: 0;
  margin: 0;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin: 60px auto 0;
}

.form{
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.form__input{
  grid-column-start: 1;
  grid-column-end: 3;
}

.caption{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.form-wrapper__caption{
  margin-bottom: 40px;
}

.form-wrapper__form{
  margin-bottom: 30px;
}